#loginform {
    margin-top: 125px;
    width: 500px;
    border: solid;
    border-radius: 7px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 400px;
}

#signUpform {
    margin-top: 100px;
    width: 500px;
    border: solid;
    border-radius: 7px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 720px;
}

#button1 {
    background-color: rgb(139, 181, 220);
    width: 150px;
    margin: 20px 0 20px 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border: 1px solid white;
}

#loginInfo {
    color: red;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
}

#headerLeft {
    width: 500px;
    float: left;
}

#logoImg {
    width: 75px;
    height: 75px;
    margin-top: -50px;
    display: inline-block;
}

#headertext {
    margin-left: 20px;
    display: inline-block;
} 

#signUp {
    background-color: rgb(139, 181, 220);
    color: white;
    float: right;
    border: 1px solid white;
    border-radius: 7px;
    padding: 5px;
    margin-top: 25px;  
}

#headerRight {
    float: right;
}

body {
    background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}